/* App.css */

/* Центруємо контейнер форми */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Загальні стилі для форми */
.form-container {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Стилі для JobField */
.job-field {
  margin-bottom: 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}