:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

/*body {*/
/*  margin: 0;*/
/*  display: flex;*/
/*  place-items: center;*/
/*  !*min-width: 320px;*!*/
/*  min-height: 100vh;*/
/*}*/

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 2px solid transparent;
  padding: 0.3em 1em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  margin-bottom: 0.5em;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.delete-button{
  border-radius: 6px;
  font-size: 0.7em;
  margin-left: 1%;
}
.delete-button:hover {
  border-color: red; /* Змініть колір при наведенні, якщо потрібно */
}


/* Стилі для поля вводу */
.input-custom {
  border-radius: 8px;
  border: 1px solid #ccc; /* Змініть колір рамки на власний */
  padding: 0.3em 1em;
  font-size: 1em;
  font-weight: 400;
  font-family: inherit;
  background-color: #fff; /* Змініть колір фону на власний */
  transition: border-color 0.25s;
  width: 5%; /* Розтягнути поле на всю ширину контейнера */
  margin-bottom: 0.5em;
}

input[type="text"] {
  border-radius: 8px;
  border: 1px solid #ccc; /* Змініть колір рамки на власний */
  padding: 0.3em 1em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #fff; /* Змініть колір фону на власний */
  transition: border-color 0.25s;
  width: 93%; /* Розтягнути поле на всю ширину контейнера */
  margin-bottom: 0.5em;
}


/* Зміна рамки при наведенні */
input[type="text"]:hover {
  border-color: #646cff;
}

/* Зміна рамки при фокусі */
input[type="text"]:focus,
input[type="text"]:focus-visible {
  outline: none; /* Прибрати браузерний фокус */
  border-color: #646cff;
  box-shadow: 0 0 4px rgba(100, 108, 255, 0.5); /* Додати тінь при фокусі */
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
